<p style="color: green"><%= notice %></p>

<h1>Moedas</h1>

<div id="moedas">
  <% @moedas.each do |moeda| %>
    <%= render moeda %>
    <p>
      <%= link_to "Exibir essa moeda", moeda %>
    </p>
  <% end %>
</div>

<%= link_to t('links.new'), new_moeda_path, class:"btn btn-primary" %>
