<ul>
    <li>
        <%= link_to "Cadastrar Moeda", new_moeda_path %>
    </li>
    <li>
        <%= link_to "Moedas Cadastradas", moedas_path %>
    </li>
    <li>
        <%= link_to "Cadastrar Tipo de Mineração", mining_types_path %>
    </li>
</ul>